.authBlock {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
}

.authBlockActive {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}

.authContent {
  background-color: #fff;
  padding: 60px;
  width: 280px;
  height: 200px;
  border-radius: 20px;
  transform: scale(0);
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.authContentActive {
  background-color: #fff;
  padding: 60px;
  width: 280px;
  height: 200px;
  border-radius: 20px;
  transform: scale(1);
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #2FB3FF;
  height: 30px;
  font-weight: bold;
}

.btn:hover {
  background-color: #2188c4;
  cursor: pointer;
  color: #c2c2c2;
}

input {
  border: 1px solid grey;
  height: 30px;
  width: calc(100% - 20px);
  border-radius: 10px;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.hint {
  margin: 0 0 10px;
  font-weight: bold;
}
